#result {
  display: none;
  text-align: inherit;
}

#order-form, #order-finished, #pricing-chart {
  display: none;
  border: solid 3px;


}
#home-page {
  display: all;

}

.page-header {
  border-bottom-color: #FFF0A5;
  font-size: 2em;
}
.result, p.lead {
  font-size: 1.1em;

}

body {
  display:none;
  background-image: url("../media/pizza.jpg");
  align-items: center;
  font-size: 23px;
}

.container {
  /* background-color: #FFF0A5; */
  color: #7E1F00;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.order {
  margin-right: 20px;
}

.about, .order, .contact {
  border: solid 3px;
  text-align: center;
}

.about h1, .order h1, #order-form, #order-finished h1, #pricing-chart h1, #pricing, .contact h1, .contact ul{
  color: #590202;
  text-decoration: underline;
}

#cyo, #reset {
  color: #590202;
}
.checkbox {
  margin-left: 2em;
}

#pizza-size {
    /* margin: 20px; */
    width: 200%;
    font-size: 25px;
    background:  #FFF0A5;
    border-color: inherit;
    color:#7E1F00;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

#bake-it {
  margin-bottom: 20px;
  color: #590202;
}

img {
  margin-top: 2em;
}

.contact {
/*   position:relative;
top: -100px;
 */
}

.contact ul li {
  padding: 10px;
}
