#result {
  display: none;
  text-align: inherit;
}

.page-header {
  border-bottom-color: #FFF0A5;
  font-size: 2em;
}
.result, p.lead {
  font-size: 1em;

}

body {
  background-image: url("../media/pizza.jpg");
  align-items: center;
  /* opacity: .7; */
  font-size: 23px;
}

.container {
  /* background-color: #FFF0A5; */
  color: #7E1F00;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.order {
  margin-right: 20px;
}

.about, .order {
  border: solid 3px;
  text-align: center;
}

.about h1, .order h1 {
  color: #590202;
  text-decoration: underline;
}

.button {
  color:red;
}
